input[type="text"] {
    width: 90%;
    padding: 12px 20px;
    margin: 25px;
    box-sizing: border-box;
}

label {
    padding: 25px;
}

button {
    background-color: #4CAF50; 
    border: none;
    color: white;
    padding: 12px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 25px;
}

form input {
    display: block;
}

.input-box {
    margin: 20px;
    border: 2px solid black;
}